[submodule "modules/neovim"]
	path = modules/neovim
	url = git@github.com:redjax/neovim.git
[submodule "modules/dotfiles"]
	path = modules/dotfiles
	url = git@github.com:redjax/dotfiles.git
[submodule "modules/docker_templates"]
	path = modules/docker_templates
	url = git@github.com:redjax/docker_templates.git
